body {
	box-sizing: border-box;
	background-color: #F9FAFB !important;
}

/* Модальное окно Начало */
.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: table;
	transition: opacity 0.3s ease;
}

.modal-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.loader {
	margin: 0 auto;
	border: 5px solid #f3f3f3;
	/* Light grey */
	border-top: 5px solid #3498db;
	/* Blue */
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.modal {
	margin: 0 auto;
	position: relative;
}

.field__label--required {
	display: none;
	color: red;
}

.field[data-required="true"] label>span {
	display: inline-block;
}

.inner-field {
	margin-bottom: 20px;
}

.field {
	position: relative;
}

.field__label {
	width: 100%;
	display: inline-block;
	margin-bottom: 10px;
}

.field__input {
	width: 40%;
}

.field-row {
	position: relative;
	display: flex;
	margin-bottom: 5px;
}

.multiselect {
	width: 42% !important;
	min-width: 220px;
}

input+.multiselect {
	margin-left: 10%;
}

.field__multiple {
	margin-bottom: 10px;
}

.field__delete {
	position: absolute;
	right: 0;
	top: 7.5px;
	cursor: pointer;
}

textarea {
	width: 80%;
	/* Ширина текстового поля равна ширине родительского элемента */
	min-height: 100px;
	/* Минимальная высота текстового поля равна 100 пикселей */
	padding: 10px;
	/* Отступ вокруг текста внутри текстового поля */
	border-radius: 5px;
	/* Скругленные углы рамки */
	resize: none;
	/* Пользователь может изменять только высоту текстового поля, но не ширину */
	font-family: 'Gilroy';
	color: #6A6C74;
	font-size: 15px;
	outline: none;
	line-height: 24px;
	border: 1px solid #B4B6BA;
	border-radius: 8px;
}

/* Дополнительное оформление текстового поля при фокусе */
textarea:focus {
	border: 1px solid #000;
}

.fields__button {
	padding: 8px 16px;
	font-family: 'Gilroy-medium';
	font-size: 16px;
	color: #fff;
	background-color: #00DFFF;
	height: 35px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	outline: none;
}

.fields__button:hover {
	background-color: #0C91E8;
}

.fields__button:focus {
	background-color: #0D5FFF;
}

.send-button {
	padding: 8px 16px;
	font-family: 'Gilroy-medium';
	font-size: 16px;
	color: #fff;
	background-color: #1BB55C;
	height: 35px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

.send-button:hover {
	background-color: #259C42;
}

.send-button:focus {
	background-color: #2EA628;
}











.field__label {
	font-size: 16px;
	line-height: 19px;
	color: #263238;
	font-family: 'Gilroy';
	display: block;
	margin-bottom: 5px;
}

.field__input {
	font-family: 'Gilroy';
	color: #6A6C74;
	font-size: 15px;
	line-height: 24px;
	padding: 7px 15px;
	margin-bottom: 2px;
	border: 1px solid #B4B6BA;
	border-radius: 8px;
	outline: none;
	text-align: left;
	cursor: pointer;
}

.field__input:focus {
	border: 1px solid #000;
}

.field__input:disabled {
	border: 1px solid #B4B6BA;
}

.field__input:disabled+.help_input_text {
	color: #B4B6BA;
}



.custom-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.custom-checkbox+label {
	font-size: 16px;
	font-family: 'Gilroy';
	line-height: 23px;
	color: #212529;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.custom-checkbox+label::before {
	content: '';
	display: inline-block;
	width: 18px;
	height: 18px;
	flex-shrink: 0;
	flex-grow: 0;
	background-color: #FFFFFF;
	border: 1px solid #DEE2E6;
	border-radius: 4px;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
	background-color: #0D6EFD;
	border: 1px solid #0D6EFD;
	background-image: url("/icon/icon-check.svg");
}

.custom-checkbox:disabled+label::before {
	background-color: #E9ECEF;
	border: 1px solid #E9ECEF;
}

.custom-checkbox:focus+label::before {
	box-shadow: 0 0 0 1px rgba(13, 110, 253, 0.32);
}

.custom-checkbox:focus:not(:checked)+label::before {
	box-shadow: 0 0 0 1px rgba(13, 110, 253, 0.32);
	border: 1px solid #6C757D;
}

.btn span {
	font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands' !important;
	margin-right: 5px;
}

.btn {
	margin-top: 5px;
	cursor: pointer;
	padding: 12px 0;
	width: 100%;
	border: none;
}